* {
  margin: 0%;
  font-family: sans-serif;
}

body {
  background-color: lightgray;
}
table,
th,
td {
  border: 1px solid black;
}
.top-header-top {
  display: flex;
  justify-content: space-between;
}
.product-form {
  margin: 1%;
  border: 5px solid gray;
}

.top-header {
  background-color: lightsteelblue;
  border-bottom: 5px solid gray;
}
